* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #7A0E2A;
}

header section{
    padding-left: 15%;
    background-color: #FD6C7B;
}

main{
    display: flex;
    justify-content: center;
}

.bokpreview{
    background-color: #F3EFE0;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;

    
}

.bokcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-around; 
    
}

.bokcontainer img{
    height: 15%;
    width: 10%;
    max-width: 10vh;
    max-height: 15vh;
    min-width: 5%;
    min-height: 10%;
    
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.bokcontainer :nth-child(2){
    transform: scale(1.5);
}

.bokblurb{
    margin-top: 3vh;
    display: flex;
}

.container {
    width: 100%;
    height: auto;
    background-color: #7B0828;

    display: grid;
    grid-template-areas: 
    "nav"
    "section"
    "header"
    "main";
    gap: 1rem;
}

.logo {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    position: relative;

    /* border: 2px solid yellow; */
}

.logo-img {
    width: 60%;
    margin-left: 60%;
}

.overlay-text {
    position: absolute;
    top: 42%;
    left: 100%;
    transform: translate(-50%, -50%);

    font-family: "Inknut Antiqua", serif;
    color: #F3EFE0;
    text-shadow:
        3px 3px 5px #000,
        -1px -1px 5px #000,
        1px -1px 5px #000,
        -1px 1px 5px #000,
        1px 1px 5px #000;
    font-weight: 200;
    font-size: 2.7em;
    /* letter-spacing: .15em; */
    white-space: nowrap;

    /* border: 2px solid blue; */
}

.contactbox {
    width: 40%;
    height: 40%;
    background-color: #F3EFE0; 
    border-radius: 10px;
    
    position: absolute;
    bottom: 65px; 
    right: 84px; 
  }

.line {
    width: 50%;
    height: 3px;
    background: linear-gradient(90deg, #F3EFE0, #ffffff, #F3EFE0);
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);

    display: none;
}

nav {
    grid-area: nav;
    background-color: aquamarine;
}

section {
    grid-area: section;
    background-color: aquamarine;
}

main {
    grid-area: main;
    background-color: aquamarine;
}

@media (min-width:768px) {
    /* placeholder */
}
    
    .line {
        display: block;
        margin: 1em;
    }

    .overlay-text {
        position: absolute;
        top: 40%;
        left: 140%;
        transform: translate(-50%, -50%);
        font-size: 3.8em;
        font-weight: 300;
        letter-spacing: 3px;
        margin: 0 auto;
    }

    .logo-img {
        margin-left: 100%;
    }
