* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: inknut antigua;
  background-color: #7a0e2a;
}

.container {
  width: 100%;
  height: auto;
  background-color: #7b0828;

  display: grid;
  grid-template-areas:
    "nav nav"
    "section section"
    "header header"
    "main contactbox";
  gap: 1rem;
}

.logo {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  position: relative;
}

.logo-img {
  width: 60%;
  margin-left: 60%;
}

.overlay-text {
  position: absolute;
  top: 42%;
  left: 90%;
  transform: translate(-50%, -50%);

  font-family: "Inknut Antiqua", serif;
  color: #f3efe0;
  text-shadow: 3px 3px 5px #000, -1px -1px 5px #000, 1px -1px 5px #000,
    -1px 1px 5px #000, 1px 1px 5px #000;
  font-weight: 200;
  font-size: 2.7em;
  white-space: nowrap;
}

.line {
  width: 58%;
  height: 3px;
  background: linear-gradient(90deg, #f3efe0, #ffffff, #f3efe0);
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);

  display: none;
}

.contactbox {
  width: 40%;
  height: 40%;
  background-color: #f3efe0;
  border-radius: 10px;

  grid-area: contactbox;

  position: absolute;
  bottom: 65px;
  right: 84px;
}

@media (min-width: 768px) {
  .line {
    display: block;
    margin: 1em;
  }

  .overlay-text {
    position: absolute;
    top: 40%;
    left: 140%;
    transform: translate(-50%, -50%);
    font-size: 3.8em;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0 auto;
  }

  .logo-img {
    margin-left: 100%;
  }
}
