*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: inknut antigua;
    background-color: #7A0E2A;
}

header section{
    padding-left: 15%;
    background-color: #FD6C7B;
}

.contactForm textarea{
    margin: 1vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    resize: none;
}

label{
    margin: 1vh
}

button{
    margin: 1vh;
    height: 5vh;
    width: 15vh;
    border-radius: 20px;
}

footer textarea{
    padding: .5vh;
    height: 3vh;
}
input{
    display: flex;
    justify-content: center;
}

#firstName{
    width: 15vh;
    margin: 1vh;
}

#lastName{
    width: 15vh;
    margin: 1vh;
}

#mail{
    width: 30vh;
    margin: 1vh;
}

#message{
    padding: .5vh;
    height: 10vh;
    width: 30vh;
    border-radius: 10px;
    margin: 1vh;
}